
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171a4a;
    color: black; 
}


header {
    background-color: #8B0000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #171a4a; 
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8B0000;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    background-image: url(../images/fondo1.jpg);
    background-position: top;
    background-size: contain;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #171a4a; 
}

section p {
    margin: 10px 0;
}

section button {
    background-color: #ca0808; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover {
    background-color: #8B0000; 
}


footer {
    height: 30px;
    text-align: center;
    padding: 10px;
    background-image: url(../imagenes/istockphoto-1343399874-640x640.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 0px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
