body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 80px);
}

label::before {
    content: '🕹️';
    color: #ffffff;
}

#inicio {
    position: relative;
    text-align: center;
}

.intro-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    animation: logoAnimation 3s ease-in-out infinite;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text {
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
    color: #FF4500;
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6);
    margin-top: 20px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes logoAnimation {
    0% {
        transform: translate(-50%, -100px);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -100px);
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 40px rgba(255, 69, 0, 0.9);
    }
}

.btn-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

button {
    font-family: "FF Mark W05";
    letter-spacing: 2px;
    font-weight: bold;
}

.buy-btn {
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    background-color: #ca0808;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, background-color 0.3s ease;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.buy-btn:hover {
    background-color: #8B0000;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.background-video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-principal,
.background-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.login-form {
    color: #f3f6f7;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(44, 44, 44, 0.8);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 370px;
    text-align: center;
    box-shadow: inset 0px 0px 20px rgba(193, 38, 38, 0.719);
    animation: slide 2s infinite;
}

@keyframes slide {
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(15px);
    }
}

.login-form:hover {
    animation-play-state: paused;
}

.login-form h2 {
    margin-bottom: 30px;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f3f6f7;
    box-sizing: border-box;
}

.login-form button {
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form button:hover {
    background-color: #8B0000;
    transform: scale(1.05);
}

#catalog-section {
    background-image: url(../images/fondo3.jpg);
    background-position: top;
    background-size: contain;
}

header {
    letter-spacing: 5px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    min-height: 48px;
    align-items: center;
    padding: 20px;
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.search-form-container {
    position: relative;
    left: 10%;
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    font-size: 13px;
    margin-left: 20px;
    padding: 2px;
    font-weight: 600;
    text-align: center;
    border-radius: 5%;
    letter-spacing: 3px;
    color: #f3f6f7;
}

nav a:hover {
    color: red;
}

#search-form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#search-bar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
}

#search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ca0808;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #8B0000;
}

#filters {
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    letter-spacing: 0px;
    margin: 20px auto;
    justify-content: end;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 750px;
    left: 47%;
    bottom: 0px;
}

.emcabezado-2 {
    height: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    bottom: 20px;
}

.emcabezado-2 h2 {
    color: #ffffff;
    letter-spacing: 7px;
    font-size: 30px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left: 2px;
    top: -15px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 10px;
    width: 98%;
    border-bottom: #404040 solid 2px;
}

.filter {
    display: inline flex;
    margin-right: 1%;
    padding: 0;
    align-content: center;
}

.filter label {
    margin-right: 10px;
    font-weight: bold;
}

.availability {
    font-weight: bold;
    margin: 5px 0;
}

#rewards-section {
    display: inline;
    background-color: rgba(255, 69, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
}

#rewards-section h2 {
    text-align: center;
    color: #000000;
}

.reward-item {
    padding: 1%;
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #ffffff;
    width: 50%;
    margin:0%;
    margin-bottom: 10px;
    margin-left: 15px;
}

.reward-item h3 {
    margin: 0;
    color: #ffffff;
    font-weight: 100;
}

.ryp {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-shadow:
        1px 1px 0px rgb(255, 255, 255),
        -1px -1px 0px rgb(255, 255, 255),
        1px -1px 0px rgb(255, 251, 251),
        -1px 1px 0px rgb(255, 255, 255);
    letter-spacing: 7px;
    margin-left: 20px;
    font-size: 30px;
    border-bottom: #404040 solid 2px;
    padding-bottom: 30px;
    width: 96%;
    margin: auto;
    margin-bottom: 90px;
}

/* Estilo para el Dropdown 1 ("INGRESAR COMO") */
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-toggle2 {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.Ingresar-como {
    display: none;
    position: absolute;
    background-color: #8B0000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown2:hover .Ingresar-como {
    display: block;
}

.Ingresar-como a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.Ingresar-como a:hover {
    background-color: white;
}

/* Estilo para el Dropdown 2 ("SECCIONES") */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #8B0000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-menu a:hover {
    background-color: white;
}

#inicio {
    margin-top: 0px;
    text-align: center;
    height: 600px;
}

#sobre-nosotros {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    border: 1px solid #ccc;
    font-weight: 100;
}

#contacto {
    text-align: center;
    padding: 20px;
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 40px;
}

.popup-alert {
    border-radius: 15px;
    padding: 20px;
}

.title-alert {
    color: black;
    font-size: 24px;
}

.confirm-button-alert {
    background-color: #8B0000 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
}

footer {
    height: 30px;
    text-align: center;
    padding: 10px;
    background-image: url(../images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 0px;
}

.saludo {
    display: inline-block;
    right: 1%;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 69, 0, 0.6);
    margin-left: 10px;
}

.saludo:nth-child(1) {
    font-weight: 900;
}

.session-btns {
    position: relative;
}

.carousel {
    height: 400px;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    box-sizing: border-box;
    color: #000000;
    border: #000000 solid 2px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 350px;
    border-radius: 16px;
    margin: 0 20px;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2),
        -10px -10px 15px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.btn-comprar {
    padding: 1%;
    background-color: #ca0808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 40%;
}

.btn-comprar:hover {
    background-color: #8B0000;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.right {
    right: 10px;
}

.contenedor-actuales {
    display: flex;
    padding: 0;
    margin-right: 200px;
}

.cubo-actuales {
    padding-left: 60px;
}

.noticias-actuales {
    color: black;
    text-align: center;
    text-shadow:
        1px 1px 0px rgb(255, 255, 255),
        -1px -1px 0px rgb(255, 255, 255),
        1px -1px 0px rgb(255, 251, 251),
        -1px 1px 0px rgb(255, 255, 255);
    letter-spacing: 7px;
    margin-left: 20px;
    margin-bottom: 90px;
    margin-top: 70px;
    font-size: 30px;
    border-bottom: #404040 solid 2px;
    padding-bottom: 5px;
    width: 95%;
}

.imagenes-destacados {
    border: #404040 solid 8px;
}

.imagenes-destacados:hover {
    background-color: #FF4500;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.cubo1-item,
.cubo2-item {
    width: 70%;
    display: flex;
    margin-bottom: 30px;
}

.cubo-actuales h3 {
    color: #8B0000;
}

.cubo-actuales p {
    text-align: justify;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.area-formulario {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    left: 33%;
}

.area-formulario input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.area-formulario input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
    border-color: #007b5e;
    outline: none;
}

.btn-ultimo {
    background-color: #007b5e;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

.btn-ultimo:hover {
    background-color: #005c47;
}

.area-formulario input[required],
textarea[required] {
    border-color: #f28d8d;
}

.contedor-cubs {
    display: flex;
    width: 100%;
}

#sobre-nosotros h2 {
    font-weight: 100;
    align-items: center;
}

.social-bubbles {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.social-bubble {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.social-bubble.facebook {
    background-image: url(../images/facebook-6338507_1280.webp);
    background-position: center;
    background-size: cover;
}

.social-bubble.twitter {
    background-image: url(../images/twitter.webp);
    background-position: center;
    background-size: cover;
}

.social-bubble.instagram {
    background-image: url(../images/instagram-6338393_1280.webp);
    background-position: center;
    background-size: cover;
}

.social-bubble:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    header {
        flex-direction: row;
    }

    nav a {
        font-size: 10px;
        margin: auto;
        flex-direction: row;
    }

    .search-form-container {
        left: 0px;
    }

    .reward-item {
        width: 200px;
        height: 150px;
    }

    .cubo1-item, .cubo2-item {
        flex-direction: column;
    }

    .area-formulario {
        width: 90%;
        left: 0;
    }

    .img-soporte {
        display: none;
        visibility: hidden;
    }

    .cubo-actuales p {
        height: auto;
        width: auto;
        visibility: visible;
    }

    .cubo-actuales h3 {
        visibility: visible;
        height: auto;
        width: auto;
    }

    .imagenes-destacados {
        position: relative;
        width: 300px;
        height: 180px;
        margin-left: 10px;
    }

    .contenedor-actuales {
        flex-direction: column;
    }

    .noticias-actuales {
        font-size: 25px;
    }

    .emcabezado-2 h2 {
        font-size: 25px;
        top: 50px;
        width: 97%;
        color: #000000;
    }

    #filters {
        bottom: -10px;
        left: auto;
        width: 98%;
    }

    .carousel-track {
        margin-top: 50px;
        width: 100%;
    }

    .carousel-item {
        width: 500px;
        margin: 20px;
        height: auto;
    }

    .carousel-item img {
        width: 300px;
    }

    .carousel-item .btn-comprar {
        margin-bottom: 10px;
    }

    .logo-text {
        visibility: hidden;
    }
}
